* {
	border-radius: 10px;
}
h1, h2, h3, h4, h5, h6 {
	

}
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block; 
    clear: both;
}
.container-fluid {
	background: #EBEDEF;
}
.navbar-default {
	background: #32cdff;
}
.navbar-brand {
	padding-top: 0px;
}
.navbar-default .navbar-nav>.active>a {
	background: #32cdff;
	font-size: 20px;
	font-family: Florence, cursive;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: #32cdff;
	font-size: 20px;
	font-family: Florence, cursive;
}
.btn-default {
	color: #32cdff;
	font-family: Comic Sans MS;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-family: Arial;
    font-weight: bold;
}
.glyphicon {
	margin-right: 5px;
}
.navbar-right>li>a {
	border: 0px solid;
	border-radius: 0px;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #32cdff;
	background-color: white;
}

.theme {
	width: 200px;
	height: 200px;
	box-shadow: 2px 2px 5px;
	color: black;
	border-radius: 20%;

}

.intro {
	text-align: center;
}

.jumbotron {
	background: white;
	padding: 40px;
}
.card_row {
	padding-bottom: 40px;
}
.cover_img	 {
	width: 180px;
	height: 200px;
	box-shadow: 2px 2px 5px black;
}
.right{
	float:  left;
}
.right p{
	font-size: 15px;
}

.btn-primary {
	margin: 10px 50%;
	transform: translateX(-50%);
}