* {
	border-radius: 10px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: cursive;
}
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block; 
    clear: both;
}
.navbar-default {
	background: #32cdff;
}
.navbar-brand {
	padding-top: 0px;
}
.navbar-default .navbar-nav>.active>a {
	background: #32cdff;
	font-size: 20px;
	font-family: Florence, cursive;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background: #32cdff;
	font-size: 20px;
	font-family: Florence, cursive;
}
.btn-default {
	color: #32cdff;
	font-family: Comic Sans MS;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-family: Arial;
    font-weight: bold; 	
}
.glyphicon {
	margin-right: 5px;
}
.navbar-right>li>a {
	border: 0px solid;
	border-radius: 0px;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #32cdff;
	background-color: white;
}
.text-description {
	text-align: center
}
.text-content {
	margin-top: 20px; 
}
.button-see-all {
	padding-top: 15px;
	padding-bottom: 15px;
}


.main-content {
	padding-top: 20px;
}
.one-topic {
	padding: 0px 15px;
	display: inline-block;
	max-width: 250px;
}
.image>img {
	display: block;
	border-radius: 20px;
	box-shadow: 2px 2px 10px;
    color: black;
}
.progress {
	margin: 10px 0px;
	height: 10px;
	background: #cac4c4;
}
.progress-bar {
	width: 60%;
}

.text-title-card {
	font-size: 15px;
	font-weight: bold;
}
#menu-foot {
	padding-top: 30px;
}
#menu-foot ul {
  background: #1F568B;
  list-style-type: none;
  text-align: center;
}
#menu-foot li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
}
#menu-foot a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu-foot a:hover {
  background: #F1F1F1;
  color: #333;
}
.form-group input[type="text"]{
	border-radius: 10px;
}
#submit_search{
	border-radius: 10px;
}
