/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
/* flip the pane when hovered */
.flip-container:active .flipper, .flip-container.active .flipper {
	transform: rotateY(180deg);
}
 
/* Kích thước các mặt */
.flip-container, .front, .back {
	width: 180px;
	height: 220px;
}
 
/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
 
	position: relative;
}
 
/* hide back of pane during swap - Ẩn các mặt sau (back face) khi hoán chuyển các mặt */
.front, .back {
	backface-visibility: hidden;
 
	position: absolute;
	top: 0;
	left: 0;
}
 
/* front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
 
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}