body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: white;
}

.box{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #66CCFF;
	text-align: center;	
	border-radius: 10px;
}

.box h1{
	color: #FFD700;
	text-transform: uppercase;
	font-weight: 500;
	text-shadow: 2px 2px 4px black;
}

.box input[type = "text"], .box input[type = "password"]{
	border: 0;
	background: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #FFFF00;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	font-weight: bold;
	text-rendering: auto;
}
.box input[type = "text"]:focus, .box input[type = "password"]:focus{
	width: 280px;
	border-color: red;
	background: #FFFF00;
	color: #FF0000;
}

.box input[type = "submit"]{
	border: 0;
	background: white;
	display: block;
	margin: 10px auto;
	text-align: center;
	border: 1px solid #FFFF00;
	padding: 14px 40px;
	width: 120px;
	outline: none;
	color: black;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
	font-weight: bold;
}
.box input[type = "submit"]:hover{
	background: #FFFF00;
	color: red;
	font-weight: bold;
}
